<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10107_base_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,38}</string>
                <key>spriteSourceSize</key>
                <string>{46,38}</string>
                <key>textureRect</key>
                <string>{{183,1214},{46,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10109_base_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,152}</string>
                <key>spriteSourceSize</key>
                <string>{179,154}</string>
                <key>textureRect</key>
                <string>{{30,294},{179,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10109_base_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{626,26}</string>
                <key>spriteSourceSize</key>
                <string>{626,26}</string>
                <key>textureRect</key>
                <string>{{2,2},{626,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10109_base_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,290}</string>
                <key>spriteSourceSize</key>
                <string>{184,290}</string>
                <key>textureRect</key>
                <string>{{30,2},{184,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10109_base_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,290}</string>
                <key>spriteSourceSize</key>
                <string>{184,290}</string>
                <key>textureRect</key>
                <string>{{2,922},{184,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10109_base_017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,290}</string>
                <key>spriteSourceSize</key>
                <string>{191,290}</string>
                <key>textureRect</key>
                <string>{{2,630},{191,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10109_base_018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,290}</string>
                <key>spriteSourceSize</key>
                <string>{46,290}</string>
                <key>textureRect</key>
                <string>{{184,294},{46,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10109_base_019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,290}</string>
                <key>spriteSourceSize</key>
                <string>{53,290}</string>
                <key>textureRect</key>
                <string>{{188,922},{53,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10109_base_026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,51}</string>
                <key>spriteSourceSize</key>
                <string>{166,51}</string>
                <key>textureRect</key>
                <string>{{195,586},{166,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10109_base_027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{179,59}</string>
                <key>spriteSourceSize</key>
                <string>{181,59}</string>
                <key>textureRect</key>
                <string>{{2,1214},{179,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10109_base_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,18}</string>
                <key>spriteSourceSize</key>
                <string>{31,18}</string>
                <key>textureRect</key>
                <string>{{231,1214},{31,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10109_base_051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,113}</string>
                <key>spriteSourceSize</key>
                <string>{135,113}</string>
                <key>textureRect</key>
                <string>{{30,475},{135,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10109_base_bg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,54}</string>
                <key>spriteSourceSize</key>
                <string>{152,54}</string>
                <key>textureRect</key>
                <string>{{195,754},{152,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>10109_base.png</string>
            <key>size</key>
            <string>{251,1275}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0431564e4d8aed78e5eff3f90d4884a7:ee241b22da70837fa366d6dfc365b04f:0623473abaa80f9deabbe7c7ec41ad85$</string>
            <key>textureFileName</key>
            <string>10109_base.png</string>
        </dict>
    </dict>
</plist>
