<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LMSlots_Common_TOP_JT.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{50,36}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{977,100},{50,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anniu_caozuo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,140}</string>
                <key>spriteSourceSize</key>
                <string>{130,140}</string>
                <key>textureRect</key>
                <string>{{564,2},{130,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anniu_chongzhi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{620,144},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anniu_gongneng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,100}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{911,2},{96,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anniu_jihe2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,101}</string>
                <key>spriteSourceSize</key>
                <string>{96,101}</string>
                <key>textureRect</key>
                <string>{{706,134},{96,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anniu_jilv.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,100}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{809,134},{96,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{84,74}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{472,156},{84,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>back_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{696,2},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>db.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,468}</string>
                <key>spriteSourceSize</key>
                <string>{200,468}</string>
                <key>textureRect</key>
                <string>{{2,2},{200,468}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_shuomin1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{38,64}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{911,100},{38,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_yinxiao1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{60,64}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{828,60},{60,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_yinxiao2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{66,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{558,156},{66,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_yinyue1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{56,66}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{828,2},{56,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_yinyue2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,3}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{911,140},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinbi_db.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,90}</string>
                <key>spriteSourceSize</key>
                <string>{152,90}</string>
                <key>textureRect</key>
                <string>{{472,2},{152,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nicheng_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,40}</string>
                <key>spriteSourceSize</key>
                <string>{60,40}</string>
                <key>textureRect</key>
                <string>{{975,152},{60,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>LMSlots_Common_TOP.png</string>
            <key>size</key>
            <string>{%with,%height}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0431564e4d8aed78e5eff3f90d4884a7:ee241b22da70837fa366d6dfc365b04f:0623473abaa80f9deabbe7c7ec41ad85$</string>
            <key>textureFileName</key>
            <string>LMSlots_Common_TOP.png</string>
        </dict>
    </dict>
</plist>
