<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anniu_banding.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,61}</string>
                <key>spriteSourceSize</key>
                <string>{62,63}</string>
                <key>textureRect</key>
                <string>{{8,907},{62,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anniu_db.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{385,112}</string>
                <key>spriteSourceSize</key>
                <string>{385,112}</string>
                <key>textureRect</key>
                <string>{{8,388},{385,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anniu_fuzhi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,64}</string>
                <key>spriteSourceSize</key>
                <string>{60,64}</string>
                <key>textureRect</key>
                <string>{{110,845},{60,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anniu_shuoming.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{72,70}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{122,640},{72,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anniu_xiugai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,57}</string>
                <key>spriteSourceSize</key>
                <string>{59,59}</string>
                <key>textureRect</key>
                <string>{{71,907},{57,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fengexian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{783,4}</string>
                <key>spriteSourceSize</key>
                <string>{783,4}</string>
                <key>textureRect</key>
                <string>{{2,204},{783,4}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fengexian2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3,286}</string>
                <key>spriteSourceSize</key>
                <string>{3,286}</string>
                <key>textureRect</key>
                <string>{{192,204},{3,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_bangdin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,90}</string>
                <key>spriteSourceSize</key>
                <string>{66,90}</string>
                <key>textureRect</key>
                <string>{{122,388},{64,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_nan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,76}</string>
                <key>spriteSourceSize</key>
                <string>{72,76}</string>
                <key>textureRect</key>
                <string>{{122,566},{72,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_nv.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,76}</string>
                <key>spriteSourceSize</key>
                <string>{72,76}</string>
                <key>textureRect</key>
                <string>{{122,492},{72,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_suo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,70}</string>
                <key>spriteSourceSize</key>
                <string>{61,70}</string>
                <key>textureRect</key>
                <string>{{110,784},{59,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_touxiang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,71}</string>
                <key>spriteSourceSize</key>
                <string>{72,71}</string>
                <key>textureRect</key>
                <string>{{122,712},{70,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_userinfo_pic_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{130,907},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_userinfo_pic_select_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,182}</string>
                <key>spriteSourceSize</key>
                <string>{182,182}</string>
                <key>textureRect</key>
                <string>{{8,204},{182,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinbi_db.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,84}</string>
                <key>spriteSourceSize</key>
                <string>{100,84}</string>
                <key>textureRect</key>
                <string>{{8,775},{100,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xuanzhongkuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{2,2},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>personalInfo.png</string>
            <key>size</key>
            <string>{204,989}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0431564e4d8aed78e5eff3f90d4884a7:ee241b22da70837fa366d6dfc365b04f:0623473abaa80f9deabbe7c7ec41ad85$</string>
            <key>textureFileName</key>
            <string>personalInfo.png</string>
        </dict>
    </dict>
</plist>
