<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_bouns_login_sign_info.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{836,40}</string>
                <key>spriteSourceSize</key>
                <string>{836,40}</string>
                <key>textureRect</key>
                <string>{{64,2},{836,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_popup_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,1100}</string>
                <key>spriteSourceSize</key>
                <string>{60,1100}</string>
                <key>textureRect</key>
                <string>{{2,2},{60,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_popup_big.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,104}</string>
                <key>spriteSourceSize</key>
                <string>{100,104}</string>
                <key>textureRect</key>
                <string>{{176,992},{100,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_popup_edge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,318}</string>
                <key>spriteSourceSize</key>
                <string>{312,318}</string>
                <key>textureRect</key>
                <string>{{106,554},{312,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_popup_top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,83}</string>
                <key>spriteSourceSize</key>
                <string>{550,83}</string>
                <key>textureRect</key>
                <string>{{106,2},{550,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_social_bottom_box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,75}</string>
                <key>spriteSourceSize</key>
                <string>{77,75}</string>
                <key>textureRect</key>
                <string>{{393,408},{77,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{64,992},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{404,116}</string>
                <key>spriteSourceSize</key>
                <string>{414,124}</string>
                <key>textureRect</key>
                <string>{{64,874},{404,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_green2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,80}</string>
                <key>spriteSourceSize</key>
                <string>{200,80}</string>
                <key>textureRect</key>
                <string>{{191,408},{200,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_pink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{404,116}</string>
                <key>spriteSourceSize</key>
                <string>{414,124}</string>
                <key>textureRect</key>
                <string>{{309,2},{404,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{404,116}</string>
                <key>spriteSourceSize</key>
                <string>{414,124}</string>
                <key>textureRect</key>
                <string>{{191,2},{404,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_common_wen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,87}</string>
                <key>spriteSourceSize</key>
                <string>{88,87}</string>
                <key>textureRect</key>
                <string>{{278,992},{88,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>popup_texture.png</string>
            <key>size</key>
            <string>{470,1104}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0431564e4d8aed78e5eff3f90d4884a7:ee241b22da70837fa366d6dfc365b04f:0623473abaa80f9deabbe7c7ec41ad85$</string>
            <key>textureFileName</key>
            <string>popup_texture.png</string>
        </dict>
    </dict>
</plist>
