<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7h.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,40}</string>
                <key>spriteSourceSize</key>
                <string>{44,40}</string>
                <key>textureRect</key>
                <string>{{300,2},{44,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>7l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,40}</string>
                <key>spriteSourceSize</key>
                <string>{44,40}</string>
                <key>textureRect</key>
                <string>{{258,2},{44,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Any_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,22}</string>
                <key>spriteSourceSize</key>
                <string>{43,22}</string>
                <key>textureRect</key>
                <string>{{342,24},{43,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,20}</string>
                <key>spriteSourceSize</key>
                <string>{64,20}</string>
                <key>textureRect</key>
                <string>{{342,2},{64,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,38}</string>
                <key>spriteSourceSize</key>
                <string>{64,38}</string>
                <key>textureRect</key>
                <string>{{192,2},{64,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,56}</string>
                <key>spriteSourceSize</key>
                <string>{64,56}</string>
                <key>textureRect</key>
                <string>{{2,2},{64,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>do.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,48}</string>
                <key>spriteSourceSize</key>
                <string>{60,48}</string>
                <key>textureRect</key>
                <string>{{130,2},{60,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tr.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,50}</string>
                <key>spriteSourceSize</key>
                <string>{60,50}</string>
                <key>textureRect</key>
                <string>{{68,2},{60,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>small_symbols.png</string>
            <key>size</key>
            <string>{408,60}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0431564e4d8aed78e5eff3f90d4884a7:ee241b22da70837fa366d6dfc365b04f:0623473abaa80f9deabbe7c7ec41ad85$</string>
            <key>textureFileName</key>
            <string>small_symbols.png</string>
        </dict>
    </dict>
</plist>
