<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BettingRecords0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{260,34}</string>
                <key>spriteSourceSize</key>
                <string>{400,80}</string>
                <key>textureRect</key>
                <string>{{1028,662},{260,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BettingRecords1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,80}</string>
                <key>spriteSourceSize</key>
                <string>{400,80}</string>
                <key>textureRect</key>
                <string>{{404,890},{400,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HistoricalResults0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{284,26}</string>
                <key>spriteSourceSize</key>
                <string>{400,80}</string>
                <key>textureRect</key>
                <string>{{2,972},{284,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HistoricalResults1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,80}</string>
                <key>spriteSourceSize</key>
                <string>{400,80}</string>
                <key>textureRect</key>
                <string>{{2,890},{400,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottom_tab_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{816,96}</string>
                <key>spriteSourceSize</key>
                <string>{818,98}</string>
                <key>textureRect</key>
                <string>{{2,792},{816,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{190,50}</string>
                <key>spriteSourceSize</key>
                <string>{200,60}</string>
                <key>textureRect</key>
                <string>{{820,792},{190,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_detail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,120}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{820,844},{90,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>detail_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{1060,328}</string>
                <key>spriteSourceSize</key>
                <string>{1060,340}</string>
                <key>textureRect</key>
                <string>{{2,332},{1060,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{1060,328}</string>
                <key>spriteSourceSize</key>
                <string>{1060,330}</string>
                <key>textureRect</key>
                <string>{{2,2},{1060,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{1024,128}</string>
                <key>spriteSourceSize</key>
                <string>{1030,130}</string>
                <key>textureRect</key>
                <string>{{2,662},{1024,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_h.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,4}</string>
                <key>spriteSourceSize</key>
                <string>{100,4}</string>
                <key>textureRect</key>
                <string>{{288,972},{100,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_v.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,70}</string>
                <key>spriteSourceSize</key>
                <string>{6,70}</string>
                <key>textureRect</key>
                <string>{{806,890},{6,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Table_Records.png</string>
            <key>size</key>
            <string>{1064,1000}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0431564e4d8aed78e5eff3f90d4884a7:ee241b22da70837fa366d6dfc365b04f:0623473abaa80f9deabbe7c7ec41ad85$</string>
            <key>textureFileName</key>
            <string>Table_Records.png</string>
        </dict>
    </dict>
</plist>
